body{
	margin: 0;
	padding: 0;
	background: brown;
	font-family: Arial, sans-serif;
}

section{
	margin-top:50px;
	margin-left:50px;
	margin-right: auto;
}
.docker-img{
	margin:auto;
	width: auto;
}

img{
	width: 250px;
	padding-right 50px;
	margin: auto;
	padding-left: auto;
}
