body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: url(pictures/alliance_background.jpg);
	background-size: cover;
}


h1 {
	font-size: 4em;
	color: black;
}

h2 {
	color: black;
}


#title {
	display: flex;
	justify-content: center;
}