body{
	margin: 0;
	padding: 0;
	background: brown;
	font-family: Arial, sans-serif;
	height: 100vh;
	background-image: url(pictures/alliance_background.jpg);
	background-size: cover;
}  

img{
	width: 250px;
	padding-right: 50px;
	margin: auto;
	padding-left: auto;
}

h1,h2,h3,h4,h5,h6{
	font-size: 1em;
}
